/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1366px) {
/* Styles */

    .maintainer
    {
        padding-top: 3px !important;

        >.header
        {
            // height: 47px !important;

            h1
            {
                font-size: 21px !important;
            }
        }

        > .container
        {
            // height: 470px !important;
        }
    }

    .maintainer>.header>.left>.modes
    {
        width: 28px !important;
        height: 28px !important;
    }

    .maintainer>.header>.right>.actionButton>li
    {
        width: 34px !important;
        height: 28px !important;
        margin-top: 4px !important;
    }

    .maintainer>.header>.right>.actionButton>li>span {
        height: 34px;
    }

}
