/* Desktops and laptops ----------- */
@media only screen and (max-width: 1366px) {
  /* Styles */
  .mantenedores header {
    height: 40px !important;
  }
  .mantenedores footer {
    height: 35px !important;
  }
  .mantenedores main > #mainRegion {
    width: 96% !important;
  }
}
