<span>
    <!-- <span><%-title%></span> -->
    <select>
        <option data-value="">...</option>
        <% _.each(availableOptions, function(option){ %>
            <% var value = option.get("value"); %>
            <% if( dataValue != null && dataValue != "") { %>
            	<% if( value == dataValue) { %>
            		<option data-value="<%-value%>" selected><%-value%></option>
            	<% } else { %>
            		<option data-value="<%-value%>"><%-value%></option>
            	<% } %>
            <% } else { %>
                <option data-value="<%-value%>"><%-value%></option>
            <% } %>
        <% }); %>
    </select>
</span>
