<div id="loginbar" class="<%- id %>" >
    <div class="picture">
        <div class="thumbnail" style="background-image:url(img/users/<%- thumbnail %>)"></div>
        <div class="cambiar">CAMBIAR IMAGEN</div>
    </div>
    <div class="info">
        <div class="name"><%- nombre %></div>
        <div class="profile">PERFIL: <span><%- profile %></span></div>
        <div class="options">
            <li><span></span>EDITAR CUENTA</li>
            <li><span></span>ADMINISTRAR USUARIOS</li>
        </div>
    </div>
</div>
<div class="bottom">SALIR</div>
