//// setting custom class ////
@font-face{font-family:'Open Sans';font-style:normal;font-weight:normal;src:local('Open Sans'),local('OpenSans'),url('fonts/OpenSans-Regular.ttf') format('truetype')}@font-face{font-family:'Open Sans';font-weight:300;src:local('Open Sans'),local('OpenSans'),url('fonts/OpenSans-Light.ttf') format('truetype')}@font-face{font-family:'Open Sans';font-weight:700;src:local('Open Sans'),local('OpenSans'),url('fonts/OpenSans-Bold.ttf') format('truetype')}

.translate (@x: -50%, @y: -50%)
{
    -webkit-transform: translate( @x, @y );
    -moz-transform: translate( @x, @y );
    -o-transform: translate( @x, @y );
    transform: translate( @x, @y );
}

.center
{
  position: absolute;
  left: 50%;
  top: 50%;

  .translate(-50%, -50%);

}


//////// STYLE ///////

.typeahead
{
    font-family: 'Open Sans';
    display: inline-block;
    width: 100%;

    > .searchbox
    {
        width: 100%;
        position: relative;
        float: left;

        > input
        {
            text-align: left;
            background-color: #fafbfe;
            color: #7899af;
            outline: none;
            font-size: 14px;
            width: 100%;
            border: none;
            padding: 9px 12px;
            box-sizing: border-box;

        }

        > .mglass
        {
            background-image: url(../img/mglass.svg);
            background-size: 10px 10px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    > .optionbox
    {
        display: none;
        width: 100%;
        position: absolute;
        // background: #f0f3f6;
        top: 35px;

        > ul
        {
            padding: 0;
            margin: 0;
            max-height: 200px;
            overflow-y: auto;

            > li
            {
                list-style: none;
                width: 100%;
                padding: 4px 9px;
                box-sizing: border-box;
                font-weight: 300;
                cursor: default;



                &:nth-child(odd) {
                    background: #EFF1F6;
                    border: 2px solid #EFF1F6;
                }

                &:nth-child(even) {
                    background: #EAECF1;
                    border: 2px solid #EAECF1;
                }

                &:hover
                {
                    background: #7899AE;
                    color: #fff;
                }

                > span
                {


                    > span
                    {
                        // margin-right: 4px;
                        font-size: 12px;
                        text-transform: lowercase;

                        &:nth-child(1)
                        {
                            text-transform: capitalize;
                            font-weight: 700;
                            font-size: 15px;

                            &::after
                            {
                                content: " : ";
                            }
                        }
                    }
                }
            }

            > .selected
            {
                background: #7899AE !important;
                color: #fff;
            }

        }

    }
.show
{
    display: block;
}
}

