<div class="region columnLeft hFourth vOne">
    <div class="noDeploy">
        <p>No components, please deploy some on this <b>columnLeft</b> region.</p>
    </div>
</div>
<div class="region columnRight hThird-fourth vOne" style="padding:0;border: none;">
    <div class="region header hOne vFourth">
        <div class="noDeploy">
            <p>No components, please deploy some on this <b>header</b> region.</p>
        </div>
    </div>
    <div class="hOne vThird-fourth">
        <div class="slide">
            <div class="leftArrow"></div>
            <div class="region main hOne vThird-fourth">
                <div class="noDeploy">
                    <p>No components, please deploy some on this <b>main</b> region.</p>
                </div>
            </div>
            <div class="region mainFlip hOne vThird-fourth hide">
                <div class="noDeploy">
                    <p>No components, please deploy some on this <b>mainFlip</b> region.</p>
                </div>
            </div>
            <div class="rightArrow"></div>
        </div>
    </div>
</div>

