<div class="firstpage">
    <object type="image/svg+xml;base64" data="assets/table/img/first.svg"></object>
</div>
<div class="prevpage">
    <object type="image/svg+xml;base64" data="assets/table/img/prev.svg"></object>
</div>
<% for(var i = first; i <= last; i++){ %>
    <div class="page" data-index="<%- i%>"><%- i%></div>
<%}%>
<div class="nextpage">
    <object type="image/svg+xml;base64" data="assets/table/img/next.svg"></object>
</div>
<div class="lastpage">
    <object type="image/svg+xml;base64" data="assets/table/img/last.svg"></object>
</div>

<div class="status">
    <p>Mostrando <%- firstIndex %> a <%- lastIndex %> de <b><%- total %></b> registros </p>
</div>

