<div class="cell index" data-key="index" style="width:40px"><%= index%></div>
<% _.each(columns, function(col){ %>
	<% var property = col.get('property'); %>
	<% var display = col.get('display'); %>
	<% if(display !== undefined) {%>
		<div class="cell" data-key="<%= property%>" style="width:<%= anchoCell %>px"><%= model.get(property).get(display)%></div>
	<% } else { %>
		<div class="cell" data-key="<%= property%>" style="width:<%= anchoCell %>px"><%= model.get(property)%></div>
	<% } %>
<% }); %>