<div class="cell index" data-key="codigo_cliente" style="width:40px"><%= index%></div>

<div class="cell" data-key="codigo_cliente" style="width:<%= anchoCell %>px"><%= codigo_cliente%></div>
<div class="cell" data-key="nombre" style="width:<%= anchoCell %>px" ><%= nombre%></div>
<div class="cell" data-key="codigo_cliente" style="width:<%= anchoCell %>px"><%= codigo_cliente%></div>
<div class="cell" data-key="nombre" style="width:<%= anchoCell %>px" ><%= nombre%></div>
<div class="cell" data-key="codigo_cliente" style="width:<%= anchoCell %>px"><%= codigo_cliente%></div>


